<ion-header *ngIf="isConnected()">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{translate('Test definition')}}
        </ion-title>
        <ion-buttons end>
            <menuNavBar></menuNavBar>
            <button *ngIf="slides && slides.getActiveIndex() > 0" ion-button color="primary" (click)="previousSlide()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
            <button *ngIf="slides && slides.getActiveIndex() > 0" ion-button color="primary" (click)="start()">{{translate('Go')}}</button>
            <button *ngIf="slides && slides.getActiveIndex() <= 0" ion-button color="primary" (click)="nextSlide()">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-slides *ngIf="testOptions" pager #definition (ionSlideDidChange)="slideChanged()">
    <ion-slide>

        <h3>{{translate('Choose your questionnaires')}}</h3>
        <ion-item>
            <ion-input type="text" placeholder="{{translate('Title of the test')}}" [(ngModel)]="testOptions.title"></ion-input>
        </ion-item>
        <ion-content style="height: 450px;">
            <questionnairesLocal #questionnaires [test]="true"></questionnairesLocal>
        </ion-content>
    </ion-slide>

    <ion-slide>
        <h3>{{translate('Choose your options')}}</h3>
        <ion-item>
            <ion-label floating>{{translate('Number of questions to ask (empty means the whole questionnaires)')}}</ion-label>
            <ion-input type="number" [(ngModel)]="testOptions.nbQuestions"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{translate('Random questions')}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="testOptions.randomQuestions"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{translate('Next question if correct')}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="testOptions.nextIfCorrect"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{translate('Jeopardy mode')}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="testOptions.jeopardy"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{translate('Exact matching')}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="testOptions.exactMatching"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{translate('Favorite questions only')}}</h3>
            </ion-label>
            <ion-toggle [(ngModel)]="testOptions.favoriteOnly"></ion-toggle>
        </ion-item>
        <br>
        <br>
        <button ion-button (click)="start()">{{translate('Lets go')}}</button>
    </ion-slide>

</ion-slides>