<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{translate('Test') + ' ' + (questions ? indexCurrentQuestion + '/' + (questions.length - 1) : '')}}
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="save()">
                <ion-icon name="recording"></ion-icon>
            </button>
            <button *ngIf="indexCurrentQuestion > 0" ion-button (click)="previous()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
            <button *ngIf="test.questions && indexCurrentQuestion < test.questions.length" ion-button (click)="next()">
                <ion-icon name="arrow-round-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <button *ngIf="indexCurrentQuestion > 0" ion-button color="primary" (click)="previous()">{{translate('Previous')}}</button>
        </ion-col>
        <ion-col *ngIf="score" style="text-align: center">
            <ion-badge color="success">
                <ion-icon name="thumbs-up" item-start></ion-icon> {{test.score.scoreOk}}</ion-badge>
        </ion-col>
        <ion-col *ngIf="score" style="text-align: center">
            <ion-badge color="danger">
                <ion-icon name="thumbs-down" item-start></ion-icon> {{test.score.scoreNok}}</ion-badge>
        </ion-col>
        <ion-col style="text-align: right">
            <button *ngIf="test.questions && indexCurrentQuestion < test.questions.length" ion-button color="primary" (click)="next()">{{translate('Next')}}</button>
        </ion-col>
    </ion-row>

    <ion-item>
        <ion-range [min]="0" [max]="test.questions.length - 1" [(ngModel)]="indexCurrentQuestion">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>{{test.questions.length - 1}}</ion-label>
        </ion-range>
    </ion-item>

    <questionSimple [question]="test.questions[this.indexCurrentQuestion]" [showCustomAnswer]="true"></questionSimple>


</ion-content>