<ion-header *ngIf="isConnected()">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{translate('Search')}}</ion-title>
        <!-- <ion-buttons end>
            <menuNavBar></menuNavBar>
            <button ion-button icon-only (click)="goToQuestionnaires($event)">
                <ion-icon name="help"></ion-icon>
            </button>
        </ion-buttons> -->
        <!-- <ion-buttons end>
            <button ion-button icon-only (click)="showPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<!-- Search -->
<ion-content *ngIf="isConnected()">
    <ion-searchbar (ionInput)="searchInput($event)"></ion-searchbar>
    <ion-item *ngIf="getCount()">
        {{translate('Results')}}
        <ion-badge>{{getCount()}}</ion-badge>
    </ion-item>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <searchLocal #search [searchTerm]="searchTerm" (searched)="searched($event)"></searchLocal>
</ion-content>