<ion-card class="question">
    <ion-card-header>
        {{translate('Question')}}
    </ion-card-header>
    <ion-card>
        <ion-card-header no-padding>
            <ion-item>
                <ion-input type="text" [(ngModel)]="question.question" placeholder="{{translate('Question')}}"></ion-input>
            </ion-item>
        </ion-card-header>

        <ion-card-content no-padding>
            <!-- Answer type -->
            <ion-item>
                <ion-textarea [(ngModel)]="question.questionLabel" placeholder="{{translate('Question label (html allowed)')}}"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="question.detail" placeholder="{{translate('Detail')}}"></ion-input>
            </ion-item>
            <ion-list radio-group [(ngModel)]="question.type">
                <ion-item>
                    <ion-label>{{translate('Text')}}</ion-label>
                    <ion-radio value="text" (click)="change()"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>{{translate('One choice only')}}</ion-label>
                    <ion-radio value="radioButton" (click)="change()"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>{{translate('Multi choice')}}</ion-label>
                    <ion-radio value="checkBox" (click)="change()"></ion-radio>
                </ion-item>
            </ion-list>
            <button ion-button icon-left clear small (click)="newAnswer()">
                {{translate('New answer')}}
            </button>
            <button ion-button icon-left clear small (click)="delete()">
                {{translate('Delete')}}
            </button>
            <button ion-button icon-left clear small (click)="newQuestionAfterQuestion(question)">
                {{translate('New question after')}}
            </button>
            <button ion-button icon-left clear small (click)="toggleEdit()">
                {{translate('Close')}}
            </button>

        </ion-card-content>

    </ion-card>
    <ion-card-header>
        {{translate('Answers')}}
    </ion-card-header>
    <ion-card *ngFor="let answer of question.answers" no-padding>
        <ion-card-header no-padding>
            <ion-item>
                <ion-input type="text" [(ngModel)]="answer.answer" placeholder="{{translate('Answer')}}"></ion-input>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label>{{translate('Correct answer')}}</ion-label>
                <ion-toggle [(ngModel)]="answer.correct" (click)="change()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="answer.detail" placeholder="{{translate('Detail')}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" [(ngModel)]="question.distance" placeholder="{{translate('Correct answer distance')}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" [(ngModel)]="question.point" placeholder="{{translate('Correct answer reward')}}"></ion-input>
            </ion-item>
            <button ion-button icon-left clear small (click)="newAnswer()">
                {{translate('New answer')}}
            </button>
            <button ion-button icon-left clear small (click)="deleteAnswer(answer)">
                {{translate('Delete')}}
            </button>
        </ion-card-content>

    </ion-card>


</ion-card>