<!-- Read only and tests -->
<ion-card *ngIf="!canEdit()" class="question">
    <ion-card-header no-padding>
        <div (click)="toggleAnswers()">
            <ion-card-header text-wrap *ngIf="showLabel && question.questionLabel" [innerHTML]="question.questionLabel"></ion-card-header>
            <ion-card-header text-wrap *ngIf="question.question" [innerHTML]="question.question"></ion-card-header>
        </div>
        <div style="text-align: center">
            <textarea *ngIf="showCustomAnswer" type="text" [(ngModel)]="question.customAnswer" style="width: 90%; border:0" placeholder="{{translate('Enter your answer here and swipe to check it.')}}"></textarea>
            <div *ngIf="question.checked">
                <p *ngIf="question.status">
                    <ion-icon color="success" name="thumbs-up" style="font-size: 2em"></ion-icon>
                    <ion-label>{{translate('The answer is correct')}}</ion-label>
                </p>
                <p *ngIf="!question.status">
                    <ion-icon color="danger" name="thumbs-down" style="font-size: 2em"></ion-icon>
                    <ion-label>{{translate('The answer is not correct, below is the right answer')}}</ion-label>
                </p>
            </div>
        </div>
    </ion-card-header>

    <ion-card-content no-padding *ngIf="question.showAnswers || showAnswers">
        <ion-card-content *ngFor="let answer of question.answers">
            <ion-row>
                <ion-col>
                    {{answer.answer}}
                    <div *ngIf="answer.detail" [innerHTML]="answer.detail"></div>
                </ion-col>
                <ion-col item-end style="text-align: right;">
                    <ion-badge item-end>{{answer.correctDistance}}</ion-badge>
                    <ion-badge item-end>{{answer.point}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-card-content>
        <button ion-button icon-left clear small (click)="toggleEdit()">
            {{translate('Edit')}}
        </button>
        <button ion-button icon-left clear small (click)="newQuestionAfterQuestion(question)">
            {{translate('New question')}}
        </button>
        <button ion-button icon-left clear small (click)="newAnswer()">
            {{translate('New answer')}}
        </button>
        <button ion-button icon-left clear small (click)="toggleFavorite()">
            <ion-icon *ngIf="!question.favorite" name="star-outline"></ion-icon>
            <ion-icon *ngIf="question.favorite" name="star"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>

<!-- Modifications -->
<div *ngIf="canEdit()">
    <questionEdit [question]="question" [questionnaire]="questionnaire"></questionEdit>
</div>