<!-- Read only and tests -->
<ion-card *ngIf="question && !canEdit()" class="question">
    <ion-card-header no-padding>
        <div (click)="toggleAnswers()" class="questionSimpleElement">
            <ion-row>
                <ion-col col-11>
                    <ion-card-header text-wrap *ngIf="showLabel && question.questionLabel" [innerHTML]="question.questionLabel"></ion-card-header>
                    <ion-card-header text-wrap *ngIf="question.question" [innerHTML]="question.question"></ion-card-header>
                </ion-col>
                <ion-col col-1 style="text-align: right">
                    <small *ngIf="question.type">
                        <ion-badge>{{question.type.substr(0, 1).toUpperCase()}}</ion-badge>
                    </small>
                </ion-col>
            </ion-row>
        </div>
        <div style="text-align: center">
            <ion-row *ngIf="showCustomAnswer">
                <ion-col col-11>
                    <textarea *ngIf="question.type == 'text' || !question.type" autofocus type="text" [(ngModel)]="question.customAnswer" style="width: 90%; border:0"
                        placeholder="{{translate('Enter your answer here and swipe to check it.')}}"></textarea>
                    <ion-list radio-group *ngIf="question.type == 'radioButton'" [(ngModel)]="question.customAnswer">
                        <ion-item *ngFor="let answer of question.answers">
                            <ion-label>{{answer.answer}}</ion-label>
                            <ion-radio *ngIf="question.type == 'radioButton'" value="{{answer.answer}}" (click)="change()"></ion-radio>
                        </ion-item>
                    </ion-list>
                    <ion-list *ngIf="question.type == 'checkBox'">
                        <ion-item *ngFor="let answer of question.answers; let i = index">
                            <ion-label>{{answer.answer}}</ion-label>
                            <ion-checkbox *ngIf="question.type == 'checkBox'" [(ngModel)]="answer.checked" (click)="clickCheckBox(answer); change()"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col col-1>
                    <ion-icon name="checkmark" (click)="checkQuestion()"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
        <ion-card-content *ngIf="question.checked" class="questionSimpleElement">
            <ion-row>
                <ion-col style="font-size: 2em">
                    <ion-icon *ngIf="question.status" color="success" name="thumbs-up"></ion-icon>
                    <ion-icon *ngIf="!question.status" color="danger" name="thumbs-down"></ion-icon>
                    <span *ngIf="question.status">{{translate('Correct')}}</span>
                    <span *ngIf="!question.status">{{translate('Not correct')}}</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    {{question.customAnswer}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card-header>

    <ion-card-content no-padding *ngIf="question.showAnswers || showAnswers">
        <!-- Text -->
        <div *ngIf="question.type=='text' || !question.type">
            <ion-card-content *ngFor="let answer of question.answers; let i=index">
                <ion-row *ngIf="i == 0">
                    <ion-col col-11>
                        <span>{{translate('Answers')}}</span>
                        <br>
                        <div *ngIf="answer.detail" [innerHTML]="answer.detail"></div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngIf="question.type=='text' || !question.type">
                        {{answer.answer}}
                    </ion-col>
                    <ion-col col-1 item-end style="text-align: right;">
                        <ion-badge item-end>{{answer.correctDistance}}</ion-badge>
                        <ion-badge item-end>{{answer.point}}</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </div>

        <!-- Radio button & checkbox -->
        <div *ngIf="question.type=='radioButton' || question.type=='checkBox'">
            <ion-card-content>
                <ion-list radio-group>
                    <ion-list-header>
                        {{translate('Answers')}}
                    </ion-list-header>
                    <ion-item *ngFor="let answer of question.answers; let i=index">
                        <ion-label>{{answer.answer}}</ion-label>
                        <ion-radio *ngIf="question.type=='radioButton'" [checked]="answer.correct" disabled></ion-radio>
                        <ion-checkbox *ngIf="question.type=='checkBox'" [checked]="answer.correct" disabled></ion-checkbox>
                        <br>
                        <div *ngIf="answer.detail" [innerHTML]="answer.detail"></div>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </div>
        <button ion-button icon-left clear small (click)="toggleEdit()">
            {{translate('Edit')}}
        </button>
        <button ion-button icon-left clear small (click)="newQuestionAfterQuestion(question)">
            {{translate('New question after')}}
        </button>
        <button ion-button icon-left clear small (click)="newAnswer()">
            {{translate('New answer')}}
        </button>
        <button ion-button icon-left clear small (click)="toggleFavorite()">
            <ion-icon *ngIf="!question.favorite" name="star-outline"></ion-icon>
            <ion-icon *ngIf="question.favorite" name="star"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>

<!-- Modifications -->
<div *ngIf="canEdit()">
    <questionEdit [question]="question" [questionnaire]="questionnaire"></questionEdit>
</div>